<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
</head>

<body class="text-center">

	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<h1><font size="20pt" face="futura" class="font-weight-bold">WELCOME</font></h1><br/>
	<a href="/firstform" class="btn btn-secondary btn-sm " role="button" >First Form</a>
	<a href="/secondform" class="btn btn-secondary btn-sm " role="button" >Second Form</a>
	<a href="/thirdform" class="btn btn-secondary btn-sm " role="button" >Third Form</a>

</body>

</html>